{
	"Name": "Template Object",
	"HideInHierarchy": false,
	"Components": [
		{
			"Type": "MeshRenderer",
			"MeshData": "Cube",
			"Material": "DefaultLit",
			"Texture": "Resources/Images/crate.png"
		},
		{
			"Type": "LuaComponent",
			"Script": "Resources/Scripts/Rotate.lua"
		}
	]
}