{
	"Name": "Template Object",
	"HideInHierarchy": false,
	"Components": [
		{
			"Type": "MeshRenderer",
			"MeshData": "Pyramid",
			"Material": "DefaultUnlit",
			"Texture": "Resources/Images/Textures/metal.png"
		}
	]
}